[2018-06-25 16:34] kemitchell opened #1 "Help Wanted: Guidance on Maven Package Metadata"
The roadmap for this repo is currently:

- [x] Finish testing, release a 1.0.0, and update licensezero.com documentation to make this CLI the official client.
- [ ] Support Maven dependencies.

I would really appreciate advice on how to go about finding, reading, and writing License Zero metadata to Maven packages. I've done some Java and Clojure in the past, but it's not fresh in mind.

A few spe

[2018-06-25 16:42] kemitchell commented on #1
cc @eduardoejp

[2018-06-26 19:02] kemitchell opened #2 "Multiple Licensor Support"
Related: https://github.com/licensezero/licensezero-cli/issues/9

cc @joehand

[2018-06-28 16:26] kemitchell opened #3 "Help Wanted: Guidance on Python Package Metadata"
I would greatly appreciate advice on how best to support Python dependencies. I've done a bit of Python programming, but I'm not up-to-date on package or project management.

Supporting a package type in License Zero boils down to two operations:

1. Given a project directory for a project using dependencies, find all Python dependencies in it, and read metadata about them. For npm packages, the C

[2018-06-28 16:27] kemitchell commented on #3
@makkus, you mentioned interest in Python support. I've done quite a bit of work in the past few weeks to prepare to support more package ecosystems, like Python. Maybe you could help me with a few high-level implementation questions?

[2018-06-28 16:29] kemitchell commented on #3
Collecting some reference:

[PEP 566: Metadata for Python Software Packages](https://www.python.org/dev/peps/pep-0566/)

[2018-06-28 16:55] makkus commented on #3
Sure, I'll have a look. Might not get to it before next week, but would be happy to help.

[2018-06-28 17:01] makkus commented on #3
One thing worth mentioning straight away is that there is some movement in the Python community to come up with a better way to manage package dependencies and project setup in general. Which might or might not mean that setup.py will go away in the future (not short term, but at some stage).

One contender is Pipenv (https://docs.pipenv.org/), the other one Poetry (https://github.com/sdispater/po

[2018-06-28 17:01] kemitchell commented on #3
@makkus, I'd be very grateful!

If you need support for the work, let me know. I'd also be happy to mention you on <https://licensezero.com/thanks>, if you're alright with that.

[2018-06-28 17:02] kemitchell commented on #3
I heard a bit about this from @anseljh at some point.

Sounds like a freestanding, self-contained License Zero metadata file might be the way to go.

[2018-06-28 19:36] makkus commented on #3
Probably. And even if not, having that sort of generic option might be a good idea in any case, as that would provide a (even if just rudimentary) fallback for all kinds of as-of-yet unsupported languages/project types.

[2018-06-28 21:41] kemitchell commented on #3
@makkus That's a thought. I briefly considered `licensezero.json` even for npm packages. But at least in that specific case, it seemed more trouble than it was worth. For packages in less settled formats--sounds like that describes Python---it could make perfect sense.

I'd want to give some thought to how to link a freestanding `licensezero.json` file to the package. Perhaps by including (signed)

[2018-06-28 21:42] kemitchell opened #4 "Inventory `licensezero.json` files"
Build an inventory function that finds `licensezero.json` files, regardless of what kind of package they appear in.

[2018-06-29 00:58] kemitchell opened #6 "Write `licensezero.json` files."
On `licensezero license`, if there is no `package.json` file, write a `licensezero.json` instead. Also write any configuration necessary to ensure `licensezero.json` is included in artifacts distributed via package manager, such as `MANIFEST.in`.

[2018-06-29 01:04] kemitchell commented on #3
@makkus, I've gone ahead and implemented the `licensezero.json` approach, at least on the read side, in #5.

[2018-06-29 16:58] #4 closed

[2018-06-29 16:58] kemitchell commented on #6
#5 also closes this one.

[2018-06-29 16:58] #6 closed

[2018-06-29 18:09] kemitchell commented on #2
The current band-aid is to set `LICENSEZERO_CONFIG=$path` in env.

Users can export tarballs of their current config directory with `licensezero backup`.

[2018-06-29 18:09] #2 closed

[2018-06-29 18:11] kemitchell commented on #1
@eduardoejp, the latest here is that the CLI will inventory `licensezero.json` files wherever they appear in a project source tree. It will also try to find package manager metadata in the same directory, and report it to those who run `licensezero quote`, so they can sanity-check at a glance.

Current master reads any `pom.xml` in the same directory as any `licensezero.json` and attempts to read

[2018-06-30 17:11] kemitchell opened #8 "Help Wanted: Guidance on RubyGems Package Metadata"
Current master detects License Zero RubyGems by querying `bundle show` for package names and versions, then `bundle show $name` for path, then `$path/licensezero.json` to see if there's anything there. It will also pick up `licensezero.json` files in RubyGems within the working tree, but won't provide any package manager information, like name or version, for those packages.

Is it safe to assume

[2018-06-30 21:18] kemitchell commented on #8
An update here: Turns out, `bundle show` and `bundle show --path` sort their output by gem name, at least in the current version. So this CLI is running those commands and joining their output, rather than running `bundle show $name` for each gem.

[2018-06-30 22:10] kemitchell opened #9 "Self-Update"
https://licensezero.com/cli-version
https://licensezero.com/install.sh

[2018-06-30 23:05] indirect commented on #8
It is pretty safe to assume that Ruby developers will have `bundle` in their path—it's so widely used that Ruby 2.5 almost included Bundler (but it didn't make it at the last minute). Whether Bundler ever ships with Ruby itself or not, Bundler has no competitors to speak of in the "application dependency management" space in Ruby. To be fair, you may be excluding a tiny number of developers who do

[2018-06-30 23:20] kemitchell commented on #8
@indirect, thanks so much for this!

At a high level, it sounds like `bundle show --paths` is in fact the answer to "What gems does the project at the current directory depend on?". That's a relief.

Duly noted. This CLI's current approach _will_ catch gems committed into Git repositories. But it will not catch gems that merely happen to be `require`'d by a `.rb` in `$PWD`. But I think we can leav

[2018-07-01 01:25] kemitchell opened #10 "Help Wanted: Guidance on Go Package Metadata"
`go list -f '{{ join .Deps "\n" }}'` lists dependencies of the package in the current working directory. Is that the best way to inventory dependencies?

[2018-07-01 02:10] indirect commented on #8
Great, I’m glad that was helpful! I’d be happy to be thanked. :)

As you might expect, Bundler gets the gem names and versions for `bundle show` by evaluating the gemspec files and then calling the name and version methods.

[2018-07-01 11:13] makkus commented on #3
Ok, I've thought about this a bit in the last few days, and there is definitely more thinking to do, but here are a few points I think are relevant:

The following really only applies to 'traditional' Python projects using setuptools and not Pipenv or Poetry (I've tried both but wasn't prepared to spend the time switching to one of them yet, for different reasons). Parts of it will most likely app

[2018-07-01 11:20] makkus commented on #3
Before I forget: sometime in the next couple of weeks I'm planning to setup a private python index for development and trying out some things. It won't be stable or anything, but could be used to test publishing python projects and retrieve dependencies. If you want, I could give you access for your testing. You could also use https://test.pypi.org for that though.

Also, if you want, I can throw

[2018-07-01 11:58] makkus commented on #3
Just thought of another command that could potentially be useful: `pip show <package_name>`

It gives output like this:

[code]
This is the relevant portion of the corresponding `setup.py`:

[code]
So, you could iterate through the output of `pip list` and find all packages that have a Parity or Prosperity license. Even though you can't put a licensezero license directly in the setup.py [classfier

[2018-07-01 12:05] makkus commented on #3
If you wanted to get really fancy, every licensezero Python project could be required to have a sort of 'license' entry_point, which would point to a function that would return license information. That way you could write a short python app that would automatically list all such projects in the PYTHON_PATH. The result would then be used by the licensezero cli.

I'd probably still go with a pure f

[2018-07-01 17:27] kemitchell commented on #8
`thanks.json` is my favorite part of this project!

<https://licensezero.com/thanks>

Excellent!

[2018-07-01 17:33] kemitchell commented on #3
License Zero licenses close the loophole for proprietary use of dev tools!

The `licensezero` command supports `licensezero quote --no-noncommercial` and `licensezero quote --no-reciprocal` for noncommercial and open developers, so they can avoid buying licenses they don't need. However, both Parity (the reciprocal license) and Prosperity (the noncommercial license) apply _regardless_ of whether t

[2018-07-01 17:38] kemitchell commented on #3
This is basically how we're handling RubyGems at the moment. `licensezero quote` runs `bundle show` for a list of dependencies by name and version, then `bundle show --paths` for a list of their paths on disk. `licensezero quote` then checks each of those paths for a `licensezero.json` file.

That approach initially seemed unbearably slow. But I was able to speed it up by reading through `bundle`'

[2018-07-01 17:40] kemitchell commented on #3
@makkus, this is just incredible feedback. You obviously took significant time just to type out these responses, which I've read from top to bottom.

Would you be alright with a public nod on <https://licensezero.com/thanks>?

[2018-07-02 01:40] kemitchell opened #11 "Check suspended licensor IDs"
- [ ] `licensezero quote`
- [ ] `licensezero buy`

[2018-07-02 01:47] kemitchell opened #12 "Implement Jurisdiction Code Validation"
Check jurisdiction code arguments to `licensezero identify` against <https://www.npmjs.com/package/licensezero-jurisdictions>.

[2018-07-02 01:47] kemitchell opened #13 "Clarify UI for Withdrawing Relicensing Offers"
Currently it isn't clear how to use `licensezero reprice` to withdraw an offer to relicense.

[2018-07-02 01:48] kemitchell opened #14 "Check LICENSE Files for Existing Terms Before Overwriting"
Context: `licensezero license`

[2018-07-02 01:48] kemitchell opened #15 "Detect `README`, `README.txt`, and so on"
Currently, `licensezero readme` only writes to `README.md`.

[2018-07-02 01:49] kemitchell opened #16 "Automatically Add `licensezero.json` to Package Distribution Lists"
- [ ] `package.json` files array, if it exists
- [ ] `MANIFEST.in`

[2018-07-02 08:15] anseljh commented on #3
I agree with @makkus's super detailed writeup. Good job!

I can speak to Pipenv a bit. Pipenv is not doing anything terribly fancy. It has essentially these elements:

1. Wrapper hiding all the ugly bits of `virtualenv`
1. The `Pipfile` & `Pipfile.lock` files for listing dependencies instead of one or more`requirements.txt` files. `Pipfile` does have a separate section for development-only depende

[2018-07-02 15:59] kemitchell commented on #3
Thanks, @anseljh! Your note on application dependencies was especially appreciated.

Python dependency management sure doesn't sound fun. `Pipfile.lock` does sound promising, but I'm aware that's not universal practice.

I have a lot of reading to do here. I'll try to bring as many of those notes together as I can. In the end, It's Complicated, but I want to do what I can to add meaningful support

[2018-07-02 16:21] kemitchell commented on #1
A few open questions:

1. Does `licensezero license` have to do anything special to make sure `licensezero.json` is included in Maven packages? Is there a manifest file that `licensezero.json` should be added to?
2. It looks like it's common practice to have multiple `pom.xml` files in various subdirectories of a package. `licensezero quote` currently reads only the `pom.xml` found in the same dir

[2018-07-02 18:21] makkus commented on #3
Yes, the problem I thought could come up in Python projects is that a dependency might or might not be in the virtualenv, depending on the circumstance. I'm not quite sure what the expectation is for when exactly the licensezero cli app will be run. Ideally it'd be when all -- both dev tools and dependency libraries -- are already installed and available in a virtualenv. Some tools are only necess

[2018-07-02 18:31] makkus commented on #3
Sure, of course.

[2018-07-03 01:15] coffeeboo opened #17 "The CLI won't let me add a license"
[code]

This is the format that was on the site. Am I doing something wrong?

[2018-07-03 01:19] kemitchell commented on #17
Instead of:

[code]

Try:

[code]

[2018-07-03 01:34] coffeeboo commented on #17
Never mind.

[code]

But I would appreciate it if I didn't have to do this.

[2018-07-03 01:40] kemitchell commented on #17
@coffeeboo are you using the current Go CLI? `licensezero version` should print `v4.2.1`. The current version will write `licensezero.json`, not `package.json`.

The CLI already offers basic Go support, for dependencies that others install in their working trees, such as in `vendor`. It doesn't yet support imports _outside_ the project working tree, such as those installed in `$GOPATH`.

I have a

[2018-07-03 02:02] coffeeboo commented on #17
3.0.2. I upgraded to latest.

[2018-07-03 02:02] #17 closed

[2018-07-03 02:51] kemitchell commented on #10
@coffeeboo, you inspired me to go ahead and take a crack at improving Go support. The master branch now recurses Go dependencies, even if they don't appear in the current working directory.

It can be a little slow, since I'm calling `go list -f "..." $import` for each dependency. I've done a bit of work to speed things up by skipping standard-library packages, but I'm sure there's more I could do

[2018-07-03 02:52] kemitchell commented on #10
I've just tagged this work as v4.3.0. Travis CI should have binaries ready for us in a few minutes.

[2018-07-03 02:55] kemitchell commented on #10
To summary the approach as of 05d2cb19ac65c4e8465b210edfd9dc0d256dd199:

1. Run `go list -f '{{ join .Deps "\n" }}' and split its output for a list of all dependencies.
2. Iterate the list of dependencies:
    1. Skip those with known standard-library import names.
    2. Run `go list -f $template $import`for the rest, parsing out name, path, import path, and whether it's a standard-library packag

[2018-07-04 04:36] kemitchell opened #18 "Use --id instead of --project-id"
Keep supporting --project-id, but don't mention it in usage.

[2018-07-04 05:02] kemitchell opened #19 "Do not read id in reprice subcommand"
None of the other commands do it.

[2018-07-04 05:50] #18 closed

[2018-07-04 05:54] #19 closed

[2018-07-04 06:02] #10 closed

[2018-07-04 22:02] #15 closed

[2018-07-05 00:43] kemitchell opened #20 "Write package metadata license fields"
- [ ] `package.json:license`
- ...

[2018-07-05 15:42] joehand opened #21 "Project badge should not be cached"
I repriced a project via CLI and updated the readme, https://github.com/neat-log/neat-log. Unfortunately, it looks like Github is caching the old badge. The badge is correct on the license zero site: https://licensezero.com/ids/0153a099-6acd-4023-8a96-9d81d9969a58/badge.svg.

It looks like other badge providers set `Cache-Control: no-cache` for badges to avoid this.

[2018-07-05 17:08] kemitchell commented on #21
@joehand This is excellent feedback. I'm going to fix it now.

Since you may be interested: I plan to release the server source code shortly, under Parity, without any private licensing options.

[2018-07-05 17:09] kemitchell commented on #21
This is really something I should have thought of! https://www.npmjs.com/package/do-not-cache

[2018-07-05 17:13] kemitchell commented on #21
[code]

[2018-07-05 17:13] #21 closed

[2018-07-06 03:20] #13 closed

[2018-07-06 03:33] #12 closed

[2018-07-08 18:33] kemitchell opened #22 "Full Client-Side Jurisdiction Validation"
- [ ] https://www.npmjs.com/package/licensezero-jurisdictions
- [ ] show suggestions for incorrect codes

[2018-07-13 21:43] LuxLang commented on #1
Hey, @kemitchell

Apologies for the delayed reply.
I've been a bit busy.

---

Pretty much. It's a safe bet.

I'd say so. It gives both direct and transitive dependencies, so it's a solid solution.

It's better for L0 to have its own file, instead of writing to the POM or another build-tool-specific file.
Keeps things de-coupled.

It's probably safe. Those 2 files seem pretty ubiquitous (with the

[2018-09-06 00:08] jbeard4 opened #24 "why golang?"
Hi,

I was wondering why the licensezero CLI was migrated from nodejs to golang?

Thank you for your insight on this.

[2018-09-06 01:05] kemitchell commented on #24
Go enables us to build lightweight, native binaries. Distributing and installing this way is much faster and easier, especially for developers not already using Node.js.

The transition to Go coincided with a major push to support more language ecosystems.

[2018-09-06 01:05] #24 closed

[2019-05-14 02:17] kemitchell opened #25 "Add flag to ignore specific packages"
e.g. if company has a site license

[2019-06-07 20:36] joehand opened #26 "Error sending license information request: invalid body"
Getting an invalid body error when I try to do things:

[code]

or:

[code]

Just re-installed, haven't used for a bit on this computer but looks like my identity is still there:

[code]

[2019-06-08 00:22] kemitchell commented on #26
Thanks, @joehand. On this now.

[2019-06-08 00:47] kemitchell commented on #26
@joehand the value of `--id` should be the UUID that licensezero.com assigns when you run `licensezero offer`.

[2019-06-08 00:58] kemitchell commented on #26
Also: The CLI should warn if the `--id` value isn't a UUID. Right now it doesn't. Could've saved you some head scratching.

[2019-06-08 00:59] kemitchell opened #27 "Validate UUI arguments on the client side"
Ref: #26

[2019-06-10 22:32] joehand commented on #26
Ah thanks @kemitchell, answers one of my questions.

However, I got the same error trying to do the offer. Do I have one of these options wrong too?

[code]

[2019-06-10 23:38] kemitchell commented on #26
Back to you soon!

[2019-06-10 23:53] kemitchell commented on #26
@joehand try it with a complete URL?

[code]

If you get output, cloud you share it?

[2019-06-11 00:32] joehand commented on #26
Great, worked! https://licensezero.com/ids/67986d53-c480-4633-8cdf-e4d0d9ae61c6

Was definitely doing then when a missing `http` would have been the last thing I noticed!

[2019-06-11 00:32] #26 closed

[2019-06-11 00:41] kemitchell commented on #26
@joehand you had a terrible experience with this, and that was the CLI's fault, not yours. I am back in the Go codebase looking at what I can do to validate more command-line inputs on the client side.

[2019-06-14 05:53] chason commented on #3
Is it necessary to autodetect the packages? I would prefer just feeding the licensezero app a requirements.txt file, additionally, this would let me automate the detection of licensezero libraries across several projects at once.

[2019-06-14 16:48] kemitchell commented on #3
@chason, thanks for your input! Does `requirements.txt` tend to live at the root of a project? Would it be enough to train `licensezero quote` to look for `$PWD/requirements.txt`, and parse if present?

[2019-06-14 18:17] makkus commented on #3
Yes, usually it lives in the root of the project. But not always. I'd say the majority still uses requirements.txt files for their dependencies, but it's not an overwhelming majority by any means. My dependencies are in setup.cfg, for example. Then there are people who use setup.py directly, and some that use [pipenv](https://github.com/pypa/pipenv). And [poetry](https://github.com/sdispater/poetr

[2019-06-15 17:52] kemitchell commented on #3
Is there some tool in Python that abstracts over all the various dependency-management solution, and outputs a report?

[2019-06-15 19:41] makkus commented on #3
Not that I know of. There are a few version and license checkers and such, but I have never found one that works well and reliably. And usually they only work in virtualenvs anyway, that is, when all dependencies are installed. And once that is the case, it's not that difficult to read a few environment variables and search for relevant metadata files with your go application (I think).

But, as I

[2019-06-17 14:18] ramiel opened #28 "Error during register"
When I try to register I get the following error

[code]

Version 6.1.1

[2019-06-17 16:10] kemitchell commented on #28
@ramiel where do you live in Italy? Your jurisdiction should be one of these: https://it.wikipedia.org/wiki/ISO_3166-2:IT

[2019-06-17 16:10] kemitchell commented on #28
Note to Self: Really need to address #22.

[2019-06-18 01:34] kemitchell commented on #28
@ramiel, thanks to motivation from you, v6.2.0 now validates `--jurisdiction` values on its own. I am also planning to create a single-page jurisdictions.licensezero.com explainer page to help guide people.

[2019-06-18 06:36] ramiel commented on #28
Ok, thanks,it is indeed a problem with jurisdiction. Yes, a clear validation error would help. Thank you again

[2019-06-18 07:54] ramiel commented on #28
Worked perfectly. I'm closing this

[2019-06-18 07:54] #28 closed

[2019-06-18 16:33] kemitchell commented on #28
Excellent! And sorry you had trouble to begin with.

Just FYI, I should mention that the server code for licensezero.com is also open here on GitHub. Open issues and PRs anytime.

[2019-06-23 23:58] kemitchell opened #29 "`licensezero license` should exit with an error when the repository already has license information"
With thanks to Fabrizio Ruggeri.

[2019-09-02 05:36] techdragon commented on #3
I think this can be kept fairly to a fairly simple workflow.
1. Run tool in python environment.
    - It shouldn't need to matter how the python environment is setup or managed, just that it is 'active', checking the packages in a stock virtualenv, one managed by poetry or pipenv or even during a tox based CI tool run, there are relatively simple approaches to list all the packages and get their m

[2019-09-02 05:58] kemitchell commented on #3
@techdragon that comment was gold! Thank you so much! I’m particularly grateful to read your recommendation on the license identifiers.

As for invoking local Python, is there a short script you can think of to print the file system paths of dependencies of the Python project at the current working directory? Even a partial or toy attempt would be greatly appreciated.

I think I would be fine hard

[2019-09-03 09:53] techdragon commented on #3
For invoking introspecting a given python environment, there are a few possible options depending on how a package will 'signal' that it is using a license zero based license.

If you want to drive it entirely off the trove classifiers, then it could be as simple as this, I've used a full string match for `Classifier: Programming Language :: Python :: 3` as an example since it made it a bit easier

[2019-09-03 19:50] makkus commented on #3
Hey @kemitchell , not sure if that's helpful in any way, but I've setup a dummy Python project from my personal Python project cookiecutter template,  for you to play around with: https://gitlab.com/makkus/license_test_project

It's using [pyenv](https://github.com/pyenv/pyenv) to setup a virtualenv, but I guess as @techdragon says, if you assume everything relevant is in the current virtualenv, t

[2019-09-03 20:09] kemitchell commented on #3
@techdragon and @makkus, thanks so much for your writing! I am very interested in the approach outlined.

In the end, I think a built-in script to list out the paths of dependencies in the environment, then iterating them to look for `licensezero.json`, strikes me as the simplest, dumbest, most reliable proposal so far. I'd like to register the L0 licenses for metadata, but there are also many pac

[2019-09-04 04:11] techdragon commented on #3
I've just come across the conversation about some future changes to the way packages will specifiy licensing metadata here https://discuss.python.org/t/improving-license-clarity-with-better-package-metadata/2154/51 and after reading through the comments and the draft. It appears that the most reliable way for a package to store the data for distribution will be
- SPDX License specifier string in t

[2019-09-04 05:20] kemitchell commented on #3
@techdragon thanks so much! Do I correctly understand that pkg_resources will allow us to put arbitrary data into package metadata, like a `licensezero.json` dictionary entry?

I was not aware of compressed packages and installed packages.

You've put a lot of work on this. We should discuss how to get you recognized and compensated for that.

[2019-09-05 20:03] kemitchell opened #31 "Double-check that inventories deduplicate IDs"

[2019-09-06 18:56] kemitchell commented on #3
@techdragon, are you currently offering licenses through L0? If so, it’s the least I can do to waive commission. That goes for all those who’ve contributed here.

[2019-09-08 19:36] kemitchell opened #32 "Help Wanted: Guidance on Rust/Cargo Dependency Detection"
Currently, `licensezero quote` does nothing specific to detect crates for Rust projects. If a crate's directory appears within the current working directory at any level of depth and the crate's directory contains a `licensezero.json` file, it's detected and managed that way. But I understand that "vendoring" crate dependencies in that way is _not_ typical of Rust development.

@zkat, do you happe

[2019-09-08 23:49] zkat commented on #32
There's nothing built into the Cargo CLI to do this. You'd have to write a little helper binary that invokes maaaybe something like [`cargo::ops::resolve_ws`](https://docs.rs/cargo/0.38.0/cargo/ops/fn.resolve_ws.html), though I'm not sure how to grab the local cache path from that.

[2019-09-09 00:09] kemitchell commented on #32
@zkat thanks. I had a good look at `cargo help`, but didn't see anything. Thanks for confirming.

@ashleygwilliams, License Zero is welcoming lots of Rustsaceans! I think it's time for the License Zero to provide first-class support for Cargo/Crate dependencies. Might you be available to provide some guidance on how to go about...?:

1. finding paths for all dependencies of a Rust/Cargo project, g

[2019-09-09 14:11] ashleygwilliams commented on #32
hey @kemitchell ! i'd love to help! let's set up some time to chat!

[2019-09-10 00:57] kemitchell opened #33 "Help Wanted: NuGet Support"
I'll have to admit: I've never used NuGet.  But I'd be chuffed to support it, and I think we have License Zero developers offering packages through the system.

Will NuGet project dependencies appear somewhere within the current working directory?

Is there a command I can shell out to, through the POSIX subsystem or WSL, that will list the patch of a project's dependencies?

If I find those paths

[2019-09-10 12:54] daveaglick commented on #33
You're in for a world of pain 😆 😬

First off, there really isn't a single NuGet tooling chain anymore. "Old-style" .NET projects rely on an out-of-band NuGet CLI with an external package definition file (similar to npm) while newer "SDK-style" .NET projects bake the dependencies directly into the project file. I'll focus on the latter since that's the way forward, but understand that doing so excl

[2019-09-10 13:03] daveaglick commented on #33
The previous comment was about how to figure out what packages are in use, but there's a whole other side of this which is figuring out which of those packages License Zero should care about and what their license terms are.

If the developer has added `licensezero.json` to the NuGet package, the file should be retrievable once you know which packages are in use and where they're located (NuGet ca

[2019-09-10 15:25] kemitchell commented on #33
@daveaglick is the answer here that we provide some different tool, for installation in an IDE or otherwise within the build environment that understands the project files?

[2019-09-10 17:51] daveaglick commented on #33
Maybe, though my gut feeling is a CLI tool is still the best approach (delivery will make a difference - it should be available as a .NET global tool).

I'm certainly willing and eager to help get a NuGet capability off the ground, but I probably won't have much availability to do so until early next year.

[2019-09-10 18:46] kemitchell commented on #33
Roger that. I am _not_ expecting you to do free work here, now or next year. I _really_ appreciate the high-level overview you found time to share here!

[2019-09-10 18:56] bjorkstromm commented on #33
As the author of several NuGet integrations I might also be able to help. But having next to zero knowledge about License Zero and related tooling, I’d need some specs on how it should work. I just recently found out about License Zero through @daveaglick and I must admit I find it very interesting.

[2019-09-10 19:05] kemitchell commented on #33
@mholo65, hello! L0's basic needs are:

1. Attach L0-specific metadata to NuGet packages.

2. Given the path of a project using NuGet, find all its NuGet dependencies that have L0-specific metadata, and collate that metadata.

[2019-09-11 02:19] ghuntley commented on #33
You're also in luck @zkat recently joined the NuGet team. 🎉 🎂

[2019-09-11 03:02] daveaglick commented on #33
![DDF9243D-9E1A-4B0F-AD6F-4BDF68D697DB](https://user-images.githubusercontent.com/1020407/64665035-1dc47600-d41f-11e9-9c59-af3fc8aea5e5.gif)

[2019-09-17 13:57] mgattozzi commented on #32
Related to support with cargo/crates.io I had opened up this issue:
https://github.com/rust-lang/crates.io/issues/1828

Turns out you can list license zero with the license-file key in `Cargo.toml`. Others that are more standard like MIT, MPL-2.0, etc. can be listed in the license field. You can grab all the metadata that you need via `cargo metadata` being run somewhere in the project directory.

[2019-09-17 15:14] kemitchell commented on #32
@mgattozzi awesome! Just to be clear: Is `cargo-metadata` shipped with Cargo, so that everyone who has `cargo` also has `cargo metadata`?

I don't think we would rely entirely on the license. Some people use Parity or Prosperity _without_ selling private licenses via licensezero.com. But it sounds like we might be able to write additional properties to `Cargo.toml` and read them via `cargo metadat

[2019-09-17 15:38] mgattozzi commented on #32
`cargo metadata` should exist on any machine that has it installed! As you can see here this subcommand is included in the official repo:

https://github.com/rust-lang/cargo/blob/master/src/bin/cargo/commands/metadata.rs

It's technically the `cargo-metadata` binary that is invoked (`cargo --help` won't show this as a subcommand) and all `cargo-*` prefixed binaries in one path can be invoked by `c

[2019-09-17 15:48] kemitchell commented on #32
@mgattozzi Excellent!

I've just found `package.metadata` in `Cargo.toml`:

https://github.com/licensezero/license-zero-test-crate/blob/e68330385b9be856f918578057056420af8a9718/Cargo.toml#L11

[2019-09-17 16:36] kemitchell commented on #32
@mgattozzi you cracked it!  Here's `cargo metadata --format-version 1 | json` with `license-zero-test-crate` as a dependency:

[code]

[2019-09-17 16:40] kemitchell commented on #32
@ashleygwilliams, FYI, it looks like we've got it. `[package.metadata.licensezero]`, then `cargo metadata --format-version 1`.

[2019-09-18 16:38] mgattozzi commented on #32
@kemitchell Glad this got you everything that you needed!

[2019-09-18 16:43] mgattozzi commented on #32
Note that the `license` field in your `Cargo.toml` right now won't allow upload to crates.io the license should be a file in the repo and referenced with `license-file` so that uploading to crates.io works. You could put it's pull name in the metadata if you want as well 😄

[2019-09-18 16:52] kemitchell commented on #32
@mgattozzi I figured out the `license` versus `license-file` thing. I've also opened a PR on the crate with the SPDX IDs to update so that `Parity-6.0.0` and `BlueOak-1.0.0` are supported.

[2019-09-18 20:27] #32 closed

[2019-09-18 20:33] mgattozzi commented on #32
Ah awesome! 😄

[2019-09-18 22:13] kemitchell opened #35 "`licensezero relicense`"
Implement a subcommand to implement the developer's end of a sponsored-relicensing bargain.

[2019-10-14 12:54] SKalt opened #36 "Error sending offer request: invalid character '<' looking for beginning of value"

[2019-10-14 16:01] kemitchell commented on #36
@SKalt can you give me more information on when you saw the error, such as the options you passed to `licensezero offer`?

[2019-10-14 17:20] SKalt commented on #36
Oh, shoot! I meant to delete this issue, since the root cause was a typo.  I was submitting `my-gh-pages.gihub.io` rather than `my-gh-pages.github.io`.  `gihub.io` turns out to do spam and spam redirects. Correcting the typo resolved the problem.

[2019-10-14 17:20] #36 closed

[2019-11-11 11:46] royaltm opened #37 "Bug: Secret prompt crashes the licensezero command on windows."
While trying to use licensezero-windows-amd64.exe on Windows 10 (64 bit):

[code]

I've tried the standard windows CMD, powershell, msys and msys2. It fails every time. The licenesor code given is valid (censored in the example) I've quadruple checked it.

[2019-11-11 11:47] royaltm commented on #37
[code]

[2019-11-11 16:14] kemitchell commented on #37
@royaltm, thank you for this report! I am looking into it.

[2019-11-11 16:23] #37 closed

[2019-11-11 16:34] kemitchell commented on #37
@royaltm, thank you for your patience! I believe I have squashed this bug in v6.3.1, which you can install just as you did v6.3.0. For your reference, here is the one-line install script:

[code]

I believe the bug had to do with the file descriptor that I passed to the cryptographic library used to read the prompt without echoing input.

[2019-11-12 07:20] royaltm commented on #37
@kemitchell thanks, it's ok now!

[2019-11-12 07:24] royaltm opened #38 "help information for "latest" is misleading"
[code]

I think instead of "your identity" there should be "latest available version for an update" or something along those lines.

[2019-11-12 17:17] kemitchell commented on #38
@royaltm, would you be alright with a short public thanks on https://licensezero.com/thanks?

[2019-11-12 17:18] #38 closed

[2019-11-12 17:33] royaltm commented on #38
@kemitchell why not? Go ahead!

[2019-11-12 17:36] kemitchell commented on #38
Great! What URL would you like me to link to?

[2019-11-12 17:41] royaltm commented on #38
Please use my github profile: https://github.com/royaltm

[2019-11-12 17:41] kemitchell commented on #38
056c239c6508b413f9836ac766d3cdccbd4eaf4c

[2019-11-14 13:10] royaltm opened #39 "bug: readme command can't find metadata in Cargo.toml"
Instead of parsing Cargo.toml the cli tries to access metadata from a default JSON file:

[code]

[2019-11-14 13:14] royaltm commented on #39
The license command has also butchered my Cargo.toml, but I guess there is no easy way to add metadata without rewriting the whole toml file.

[2019-11-14 17:22] kemitchell commented on #39
The lack of `Cargo.toml` support in `licensezero readme` is a clear oversight. I'm working on it.

Unfortunately, formatting of TOML files varies a bit. Maybe you know TOML better than I do: Would it be possible to formulate a string of TOML that we could just append to `Cargo.toml` in order to add the relevant metadata?

[2019-11-14 18:03] royaltm commented on #39
Yes. To add a section: `[package.metadata.licensezero]` you don't need to add its ancestors:
[code]
It's enough that you just add the section you need. So e.g. you can append the following sections:
[code]
to the toml file, perhaps parsing it previously in order to check if the section doesn't already exist. The check won't be atomic though, but I don't think it's important in this instance.

It's

[2019-11-14 19:23] #39 closed

[2019-11-14 19:35] kemitchell commented on #39
That append tip is great, but I’m not sure we can rely on it. The CLI may need to alter metadata in more ways than just appending entries, especially as schemas change.

I am going to look into whether I might improve the TOML serialization to look more idiomatic.

[2019-11-14 19:49] royaltm commented on #39
Great! 7.0.2: readme command now reads tomls.
However if you'll work on this feature again, please check the output the command produces, cause it's currently debug printing the parsed toml section's content. I don't know if you left it on purpose or not, but looks slightly odd.

[2019-11-14 19:55] kemitchell commented on #39
I left a debug statement in. One sec.

[2019-11-14 19:58] kemitchell commented on #39
Fix is going out as 7.0.3.

[2019-11-14 20:15] royaltm commented on #39
purrrrfect!

[2019-11-14 20:17] kemitchell commented on #39
@royaltm Thanks again!

Cargo support is very new in the CLI. I've done a little Rust development myself, but not enough to really put the CLI through its paces. I _really_ appreciate how helpful you've been as "early adopter" of Cargo support!

[2019-11-21 01:04] kemitchell opened #40 "Check to make sure latest version before any command that involves network access"

[2019-12-06 19:17] kemitchell opened #41 "Dart Support"
- [ ] Review example project: https://github.com/sass/dart-sass/blob/master/pubspec.yaml (https://twitter.com/nex3/status/1202727583646916614)
- [ ]  "If you want the full list of dependencies (direct & indirect), and all the resolved specific versions, you can run `pub get` in the directory where `pubspec.yaml` is located, and look at the generated `pubspec.lock`" (https://twitter.com/MiSvTh/stat

[2020-01-30 21:57] AstraLuma commented on #3
Ok, so my take on this, especially in light of PEP517.

There are two mainstream tools for producing redistributable packages: setuptools and poetry.

Managing environments themselves is a blend of various tools doing various things, including venv, pipenv, conda, poetry, tox, various venv managers, etc.

The common thing is scanning `sys.path` for either embedded data (eg, `licensezero.json` insi

[2020-01-31 02:02] kemitchell commented on #3
@astronouth7303 thanks so much! There's so much here. It's a lot to take in. But it sounds like saying something like this could button it up:

[2020-01-31 02:30] AstraLuma commented on #3
Something something package data something.

[2020-02-10 18:15] kemitchell commented on #3
@astronouth7303 I'm sorry. I didn't quite get the gist of your last comment here. Maybe I could ask you to put it in different words?

[2020-02-10 19:45] AstraLuma commented on #3
The python term for what you want is "package data" as in:

* [setuptools](https://setuptools.readthedocs.io/en/latest/setuptools.html#including-data-files)
* ... you can presumably do it with poetry, but the docs are being unhelpful.

[2020-02-13 16:48] AstraLuma commented on #3
Ok, per https://github.com/python-poetry/poetry/issues/2015#issuecomment-585841584 Poetry requires no extra steps.

[2020-02-18 18:36] kemitchell commented on #3
@astronouth7303 thank you!

[2020-03-14 18:42] nyarly opened #42 "OS Packaging"
I'm leery of curl-pipe-sh installs of software, and dubious about whether licensezero will work on my preferred platform (NixOS). Since it's a Go program, it'd be easy to provide build-from-source instruction which would further enable packaging processes.

[2020-03-24 17:23] kemitchell commented on #42
`make`, or, for the new version coming up, `go build`.

[2020-03-24 17:30] nyarly commented on #42
For my personal Nix setup, I put together https://github.com/nyarly/nix-config/blob/master/home/packages/licensezero/default.nix

The NPM requirements make it a little wonky, but not terrible. If you've no objection, I'll see about adding them to the main Nix tree.

[2020-03-24 22:41] kemitchell commented on #42
Glad you found something that works.

[2020-03-24 22:41] #42 closed

[2020-05-12 17:21] derhuerst commented on #9
I'd love to upgrade the CLI using Homebrew!

(I tried [writing a Homebrew Formula](https://docs.brew.sh/Formula-Cookbook), but failed to get the `make`-based build working.)

[2020-05-12 17:57] kemitchell commented on #9
@derhuerst could the Homebrew formula pull down the install script at https://licensezero.com/install.sh? That script in turn downloads binaries from GitHub releases.

[2020-05-12 23:36] derhuerst commented on #9
Maybe, but it doesn't sound like it:

The only benefit (that I see) of using the hosted `install.sh` in the Formula would be that nobody has to update the Formula on new releases. A major disadvantages I can think of is non-reproducible `brew install`s.

[2020-05-12 23:45] kemitchell commented on #9
Ah. So I opened this issue to remind myself to think about self-update. But the CLI doesn't do any self-update right now.

The script I linked to automatically finds and downloads the latest GitHub release binary for the platform and system. But you could probably pull out the binaries just for Mac/x86-64 and package however Homebrew typically packages standalone binaries.

[2020-05-13 17:57] derhuerst commented on #9
Yeah, I'm not sure if this is appreciated (or even allowed). AFAIK, but I might be wrong, the preferred setup is to write a fomula that builds from source, let the Brew Test Bot build binaries (*bottles*) and add their hashes to the fomula.

[2020-05-13 18:04] derhuerst commented on #9
The `licensezero` cli could obviously self-update itself, but there many things to get right about this (handling proxies, downloading to a temp var, replacing the binary atomically), and many convenience features that devs are used to (allowing to "pin" to an old version, updating all tools with a single command like `apt upgrade -y`, signed binaries to prevent download servers from being comprom

[2020-05-15 18:27] derhuerst commented on #9
Just stumbled upon this: https://blog.extrawurst.org/general/2020/04/14/homebrew-github-actions.html

[2020-05-16 20:54] kemitchell commented on #9
I'm currently building this repo with Travis, not for any particular reason, except Travis existed when I started the project.

If you'd like to send a PR over building with Actions instead, and implementing whatever it is that you need to do for Homebrew, that would be very welcome!

[2020-05-25 02:00] RobRoseKnows opened #43 "licensezero offer does not write a licensezero.json?"
Is the licensezero.json format retired? I created a new project, added the Prosperity license and then created an offer but it didn't write a licensezero.json to the folder. It'll eventually be a go project, but I haven't written any go code yet, do I need a `go.mod` file first?

[2020-05-25 02:48] kemitchell commented on #43
@RobRoseKnows, indeed, the `licensezero.json` metadata file is retired, as is the CLI for users, at least for now. Those decisions were taken thanks to feedback strongly encouraging overall simplification of License Zero as a system. That said, developers are taking advantage of various other ways to announce their offers, in documentation and package metadata.

A `go.mod` file defines a module in

[2020-06-06 20:49] Nzen commented on #1
To be clear, I'm providing guidance without much understanding how developers use licensezero's cli . I've read through this and the corresponding python discussion, so I see understand two goals:

1. Provide an assessment of the licenses used by direct and transitive dependencies of this project
2. Ensure that using a typical build tool embeds the developer's licensezero.json file with the result

[2020-06-08 01:35] kemitchell commented on #1
@nzen, thanks so much for this!

[2020-06-08 01:36] #1 closed

[2020-06-08 01:37] #3 closed

[2020-06-08 01:37] #14 closed

[2020-06-08 01:37] #20 closed

[2020-06-08 01:37] #25 closed

[2020-06-08 01:37] #29 closed

[2020-06-08 01:37] #31 closed

[2020-06-08 01:37] #33 closed

[2020-06-08 01:37] #41 closed